html, body { height: 100vh; background-color: #f5f5f5; }
body { margin: 0; font-family: "Roboto", "Helvetica Neue", "sans-serif"; }

#container {
    margin: auto auto;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

app-root {
    text-align: center;
    background-color: white;
    padding: 100px 60px 60px 60px;
    border: 2px solid rgba(160, 8, 79, 0.425);
}